<div style='background:#fff; color:#000; padding:1rem; border-radius:5px'>
  <b>Hi,</b>
  <br />
  <img
    src='http://localhost:3000/public/add.svg'
    alt='add image'
    style='width: 50%; display:block; margin: 0 auto; position:relative; top: 1rem'
  />
  <br />
  <br />
  You have been added to workspace
  <b>
    <span style='color:#673ab7'>{{workspace}}</span></b>.
  <br />
  But before you can join you need to register for
  <span style='color:#673ab7'>Krakky</span>.
  <br />
  Krakky is a free and open source project to help you keep track of your
  buisniss/project planning.
  <br />
  If you want to join Krakky click on the link
  <a href='{{urlJoin}}'>here</a>.
  <br />
  <br />
  After you have registered than confirm your email address and click the link
  <a href='{{urlVerify}}'>here</a>
  to get you added to the workspace.
  <br />
  <br />
  If you don't want to join the workspace or become a Krakky member just ignore
  this email.
  <br />
  <br />
  <span style='color:#673ab7'>Krakky</span>
  Team
</div>