<div style='background:#fff; color:#000; padding:1rem; border-radius:5px'>
  <b>Hi
    <span style='color:#673ab7'>{{username}}</span>,</b>
  <br />
  <img
    src='http://localhost:3000/public/add.svg'
    alt='add image'
    style='width: 50%; display:block; margin: 0 auto; position:relative; top: 1rem'
  />
  <br />
  <br />
  You have been added to workspace
  <b>
    <span style='color:#673ab7'>{{workspace}}</span></b>.
  <br />
  The only thing you have to do now is confirm you want to join by clicking
  <a href='{{urlVerify}}'>here</a>.
  <br />
  <br />
  If you don't want to join the workspace just ignore this email.
  <br />
  <br />
  <span style='color:#673ab7'>Cronus</span>
  Team
</div>