<div style='background:#fff; color:#000; padding:1rem; border-radius:5px'>
  <b>Hi <span style='color:#673ab7'>{{username}}</span></b>
  <br />
  <img
    src='http://localhost:3000/public/goodbye.svg'
    alt='add image'
    style='width: 50%; display:block; margin: 0 auto; position:relative; top: 1rem'
  />
  <br />
  <br />
  We've just got the messsage that you're leaving us.
  <br />
  It's sad too see you go but we at
  <span style='color:#673ab7'>Cronus</span>
  hope you had a great time using our software.
  <br />
  If this was a mistake you have
  <span style='color:#b73a3a'>7</span>
  days to reverse the deleting of your account.
  <br />
  After 7 days we will delete everything from our database and this can't be
  reversed.
  <br />
  If you want to reverse the deleting of your account click
  <a href='{{urlReverse}}'>here</a>.
  <br />
  <br />
  If this wasn't a mistake just do nothing and we will take care of the rest.
  <br />
  We wish you all the best!
  <br />
  <br />
  <span style='color:#673ab7'>Cronus</span>
  Team
</div>