<div style='background:#fff; color:#000; padding:1rem; border-radius:5px'>
  <b>Hi
    <span style='color:#673ab7'>{{username}}</span>,</b>
  <br />
  <img
    src='http://localhost:3000/public/welcome.svg'
    alt='welcome image'
    style='width: 50%; display:block; margin: 0 auto; position:relative; top: 1rem'
  />
  <br />
  <br />
  Welcome to Cronus!
  <br />
  We are so glad you have chosen us to help you keep track of your
  project/buisness.
  <br />
  At cronus we only stand for one thing and that is to make your life easier and
  not only yours but for everyone in your company.
  <br />
  The only thing you have to do now is confirming your email address by clicking
  <a href='{{urlVerify}}'>here</a>
  <br />
  <br />
  Click
  <a href='{{urlDelete}}'>here</a>
  if you didn't join Cronus.
  <br />
  <br />
  Excited to have you aboard! Thanks!
  <br />
  <br />
  <span style='color:#673ab7'>Cronus</span>
  Team
</div>