<head>
  <style>
    a{ color: #0d89ec } a:hover{ color: #57a4e4}
  </style>
</head>
<div style='background:#fff; color:#333; padding:1rem; border-radius:5px'>
  <div style='width:100%; max-width:550px; display: block; margin: 0 auto'>
    <b>Hi,</b>
    <br />
    <img
      src='cid:add'
      alt='add image'
      style='width: 50%;max-width:250px; display:block; margin: 0.5rem auto; position:relative; top: 1rem'
    />
    <br />
    <br />
    You have been added to a new workspace!
    <br />
    But before you can join you need to register for Krakky.
    <br />
    Krakky is software to help you keep track of your buisniss/project planning.
    <br />
    If you want to join Krakky click on the link
    <a href='{{urlJoin}}'>here</a>.
    <br />
    <br />
    After you have registered and confirmd your email address click the link
    <a href='{{urlVerify}}'>here</a>
    to get you added to the workspace.
    <br />
    <br />
    If you don't want to join the workspace or become a Krakky member just
    ignore this email.
    <br />
    <br />
    <span style='color:#0d89ec'>Krakky</span>
    Team
  </div>
</div>