<head>
  <style>
    a{ color: #0d89ec } a:hover{ color: #57a4e4}
  </style>
</head>
<div style='background:#fff; color:#333; padding:1rem; border-radius:5px'>
  <div style='width:100%; max-width:550px; display: block; margin: 0 auto'>
    <b>
      <span style='color:#0d89ec'>Krakky</span>
      contact mail</b>
    <br />
    <br />
    username :
    {{username}}
    <br />
    email :
    {{email}}
    <br />
    message :
    {{text}}
    <br />
  </div>
</div>