<div style='background:#fff; color:#333; padding:1rem; border-radius:5px'>
  <div style='width:100%; max-width:550px; display: block; margin: 0 auto'>
    <b>Hi <span style='color:#0984E3'>{{username}}</span></b>
    <br />
    <img
      src='cid:goodbye'
      alt='add image'
      style='width: 50%;max-width:250px; display:block; margin: 0.5rem auto; position:relative; top: 1rem'
    />
    <br />
    <br />
    We've just got the messsage that you're leaving us.
    <br />
    It's sad too see you go but we at Krakky hope you had a great time using our
    software.
    <br />
    If you want to come back later you're always more than welcome.
    <br />
    We wish you all the best!
    <br />
    <br />
    <span style='color:#0984E3'>Krakky</span>
    Team
  </div>
</div>