<head>
  <style>
    button{ color: #fff; background: #2196f3; border: 1px solid #2196f3;
    padding: .5rem 1rem; font-size: 0.75rem; transition: background-color
    .2s,color .2s,border-color .2s,box-shadow .2s; border-radius: 3px;margin: 0
    auto; display:block; cursor: pointer;; text-align: center; box-shadow: 0 3px
    1px -2px #0003,0 2px 2px 0 #00000024,0 1px 5px 0 #0000001f;}
  </style>
</head>
<div style='background:#fff; color:#333; padding:1rem; border-radius:5px'>
  <div style='width:100%; max-width:550px; display: block; margin: 0 auto'>
    <b>Hi,</b>
    <br />
    <img
      src='{{img}}'
      alt='forgot image'
      style='width: 50%;max-width:250px; display:block; margin: 0.5rem auto; position:relative; top: 1rem'
    />
    <br />
    <br />
    Forgot your password?
    <br />
    That's okay, it happens! Click on the button below to reset your password.
    <br />
    You have 12 houres to reset yout password. If the token is expired you can
    always request a new one.
    <br />
    <br />
    <a href='{{urlReset}}'><button>Reset your password</button></a>
    <br />
    <br />
    No changes have been made to your account yet. If this wasn't you. You can
    just ignore this email.
    <br />
    <br />
    <span style='color:#0d89ec'>Krakky</span>
    Team
  </div>
</div>